@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    @apply underline
}
p {
  @apply tracking-wide

}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 8s;
  }
  .animation-delay-4000 {
    animation-delay: 9s;
  }
}
