<template>
  <div class="py-16">
    <p class="text-sm text-neutral-500 text-center">2022 - Camila Rody.</p>
    <p class="text-sm text-neutral-500 text-center" v-if="commit_ref">
      <a :href="repo_url+'/-/commit/' + commit_ref" target="_blank">#{{ commit_ref.substring(0,7) }}</a>
      <span v-if="branch">
        on <a :href="repo_url+'/-/tree/' + branch" target="_blank">{{ branch }}</a>.
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: "Footer",
  data(){
    return {
      repo_url: 'https://gitlab.com/camilasrody/bug-report',
      site_name: import.meta.env.SITE_NAME,
      url: import.meta.env.URL,
      node_version: import.meta.env.NODE_VERSION,
      repository_url: import.meta.env.REPOSITORY_URL,
      commit_ref: import.meta.env.COMMIT_REF,
      branch: import.meta.env.BRANCH,
    }
  }
}
</script>
