<template>
<!--  <transition name="modal-animation">-->
    <div class="modal z-50 flex justify-center items-center h-full w-full fixed left-0 top-0" v-if="isActive">
<!--      <transition name="modal-animation-inner">-->
        <div class="modal-inner relative shadow-lg px-4 py-8 border-solid border-2">
<!--          <div class="flex justify-end m-2 relative">-->
            <p @click="safeCloseFormModal"
               class="absolute uppercase top-3 right-3 cursor-pointer py-1 px-4 rounded font-semibold border border-black text-black hover:text-white hover:border-red-500 hover:bg-red-500">
              x </p>
<!--          </div>-->
          <slot class="p-10" />
        </div>
<!--      </transition>-->
    </div>
<!--  </transition>-->
</template>

<script>
import {store} from '@/store.js'

export default {
  data() {
    return {
      store,
      // formWasModifed: false
    }
  },
  props: [
    'isActive'
  ],
  methods: {
    safeCloseFormModal() {
      if(store.formWasChanged){
        store.showDiscartModal = true
      }else {
        this.closeFormModal()
        this.$emit("onClose")
      }
    },
    closeFormModal() {

      store.currentFormModal = false
      store.currentDeleteModal = false
      store.successModal = false
      this.$emit("onClose")
      this.$router.push("/")
    },
  }
}
</script>


<style lang="scss" scoped>
  .modal-animation-enter-active,
  .modal-animation-leave-active {
    transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
  }

  .modal-animation-enter-from,
  .modal-animation-leave-to {
    opacity: 0;
  }

  .modal-animation-inner-enter-active {
    transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
  }

  .modal-animation-inner-leave-active {
    transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
  }

  .modal-animation-inner-enter-from {
    opacity: 0;
    transform: scale(0.8);
  }

  .modal-animation-inner-leave-to {
    transform: scale(0.8);
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.1);

    .modal-inner {
      position: relative;
      max-width: 640px;
      width: 80%;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      background-color: #fff;
    }
  }
</style>
