<template>
  <div>
  <h1 class="text-xl tracking-wide px-3 font-semibold"><span v-if="store.id">Editar</span><span v-else>Criar</span> relatório</h1>

  <form class="flex flex-col justify-center bg-white p-3"
        enctype="multipart/form-data"
    @submit.prevent="handleSubmitSafe">

    <h2 class="font-semibold">Título</h2>
    <div class="pb-3">
      <input type="text" name="title" v-model="store.title" placeholder="Título" required />
    </div>

    <h2 class="font-semibold">Descrição</h2>
    <div class="pb-3">
      <textarea type="text" placeholder="Descrição" name="description" v-model="store.description" required />
    </div>

    <h2 class="font-semibold">Grau de criticidade</h2>
    <div class="pb-3">
      <input type="radio" name="priority" v-model="store.priority" required value="low" />
      <label class="pl-1 pr-3 font-semibold text-blue-500">Low</label>
      <input type="radio" name="priority" v-model="store.priority" required value="min" />
      <label class="pl-1 pr-3 font-semibold text-green-500">Min</label>
      <input type="radio" name="priority" v-model="store.priority" required value="high" />
      <label class="pl-1 pr-3 font-semibold text-red-500" >High</label>
    </div>

    <h2 class="font-semibold">Tipo de vulnerabilidade</h2>
    <div class="pb-3">
      <input type="radio" name="type" v-model="store.type" required value="DAST">
      <label class="pl-1 pr-3">DAST</label>
      <input type="radio" name="type" v-model="store.type" required value="SAST">
      <label class="pl-1 pr-3">SAST</label>
      <input type="radio" name="type" v-model="store.type" required value="NETWORK">
      <label class="pl-1 pr-3">NETWORK</label>
    </div>

    <div class="pb-3">
      <h2 class="font-semibold">Evidências</h2>
      <input type="file"
             :required="isPhotoNeeded"
             @change="handlePhotosChange"
             class="border border-1 border-black"
             accept="image/png, image/jpeg" />

      <img class="w-32 text-center" :src="`${store.photos}`" alt="" />
<!--      <img v-for="(photoId, index) in store.photos" :key="index" :src="`https://upcdn.io/${photoId}/thumbnail-square`" :alt="index" />-->
    </div>

    <h2 class="font-semibold">Solução Proposta</h2>
    <div class="pb-3">
      <textarea type="text" placeholder="Solução" name="solution" v-model="store.solution" required />
    </div>

    <div class="flex justify-center m-10">
      <input class="bg-green-500 rounded p-2 px-9 shadow hover:shadow-none hover:bg-green-600 text-white font-semibold cursor-pointer" type="submit" value="Salvar" />
    </div>

  </form>
  <div v-if="store.showNoChanges">
    <Modal :isActive="store.showNoChanges" class="z-10 flex flex-row">
      <div class="modal-content flex flex-col">
        <h1 class="text-center text-xl font-semibold p-4 inline-flex items-baseline mx-auto">
          <svg class="fill-current text-yellow-400 justify-end" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path color="" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/>
          </svg> Não houve alteração</h1>

       <button
          @click="store.showNoChanges = false"
          type="button" class=" m-5 text-gray-600 font-semibold bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 focus:z-10">Fechar</button>

      </div>
    </Modal>
  </div>

    <div v-if="store.showDiscartModal">
      <Modal :isActive="store.showDiscartModal" @close="dismiss">
        <div class="modal-content">
          <h1 class="text-center text-xl font-semibold">Descartar relatório</h1>
          <p class="text-center">Tem certeza que deseja descartar alteracões ?</p>
          <div class="p-5 flex justify-around">
           <button
              @click="restore"
              type="button" class="text-gray-800 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Não, cancelar</button>
            <button
              @click="dismiss"
              type="button"
              class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-green-400 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                Sim, tenho certeza
          </button>
          </div>
        </div>
      </Modal>
    </div>

    <div v-if="store.showConfirmModal">
      <Modal :isActive="store.showConfirmModal" @close="dismiss">
        <div class="modal-content">
          <h1 class="text-center text-xl font-semibold">Alterar relatório</h1>
          <p class="text-center">Tem certeza que deseja alterar ?</p>
           <!-- if not, shows a msg at index.vue "nothing was changed" --->
          <div class="p-5 flex justify-around">
           <button
              @click="dismiss"
              type="button" class="text-gray-800 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Não, cancelar</button>
              <!-- if yes, shows on index.vue msg "{{item.title}} has changed" --->
            <button
              @click="handleSubmit"
              type="button"
              class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-400 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                Sim, tenho certeza
          </button>
          </div>
        </div>
      </Modal>
    </div>
  </div>
</template>

<script>
import { store } from '@/store.js'
import Modal from '@/components/Modal.vue'

export default {
  components: { Modal },
  name: "ReportForm",

  data () {
    return {
      store
    }
  },

  async beforeRouteEnter (to, from, next) {
    try {
      if ("/report/create" !== to.path) {
        const response = await store.read(to.params.id || store.currentFormModal)
        if (response.requestResult && 200 !== response.requestResult.statusCode) {
          next('/404')
        }else{
          const id = response.ref['@ref'].id
          store.currentFormModal = id
          store.currentDefaultFormValues = response.data
          next(vm => vm.store.setForm({ ...response.data, id }))
        }
      }else{
        store.currentFormModal = true
        store.currentDefaultFormValues = {}
        next(vm => vm.store.setForm({}))
      }
    } catch(error) {
      console.log(error)
    }
  },
  computed: {
    isPhotoNeeded(){
      return ! store.photos && 'SAST' == store.type
    },
    hasChanged () {
      store.formWasChanged = ["id","title","description","priority","type","solution","photos"].some(field => store[field] !== store.currentDefaultFormValues[field])
      return store.formWasChanged
    }
  },
  methods:{
    dismiss(){
      store.showConfirmModal = false
      store.showDiscartModal = false

      store.currentFormModal = false
      this.$router.push("/")
    },
    restore(){
      store.showDiscartModal = false

      store.currentFormModal = true
    },
   createImage(file) {
      const image = new Image();
      const reader = new FileReader();
      const vm = this;

      reader.onload = (e) => {
        // store.photos = e.target.result;
        vm.store.photos = e.target.result;
        // vm.photos = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    async handlePhotosChange(event) {

      const files = event.target.files || event.dataTransfer.files;
      this.createImage(files[0])
    },

    async handleSubmitSafe() {
      store.showConfirmModal = false
      if (this.hasChanged) {
        store.showConfirmModal = true
        store.showNoChanges = false
      } else {
        store.showNoChanges = true
      }
    },
    async handleSubmit() {
      console.log("saving...")
      try {
        await store.save({id: store.id,
                          title: store.title,
                          description: store.description,
                          priority: store.priority,
                          type: store.type,
                          solution: store.solution,
                          photos: store.photos
        })
        store.successModal = true

        store.currentFormModal = false
        store.showConfirmModal = false
        store.showNoChanges = false
        await this.$router.push("/")
      } catch (error) {
        console.log(error)
      }

    },
  }
}
</script>

<style lang="sass" scoped>
input:not([type=radio]):not([type=submit]), textarea
  @apply w-full rounded-md border border-gray-300 bg-neutral-100 focus:bg-white caret-neutral-600 focus:ring-neutral-500

textarea input
  @apply focus:ring-neutral-500 focus:caret-neutral-500

.modal-content
  position: fixed
  align-content: center
  top: 40%
  max-height: 200px
  max-width: 640px
  width: 31%
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
  background-color: #fff
  z-index: 4
</style>

