<template>
  <div class="container w-full mx-auto">

      <h1 class="flex justify-center font-semibold text-xl p-5"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path d="M24 20.586l-2.831-2.832c.522-.79.831-1.735.831-2.754 0-2.761-2.238-5-5-5s-5 2.239-5 5 2.238 5 5 5c1.019 0 1.964-.309 2.755-.832l2.831 2.832 1.414-1.414zm-10-5.586c0-1.654 1.346-3 3-3s3 1.346 3 3-1.346 3-3 3-3-1.346-3-3zm-8.105-11.827c0-.647.535-1.173 1.193-1.173.784 0 1.354.736 1.149 1.48-.077.281-.035.58.117.829.333.553.902.895 1.646.899.733-.004 1.31-.341 1.647-.898.151-.25.193-.548.116-.829-.205-.744.364-1.481 1.149-1.481.66 0 1.191.526 1.191 1.173 0 .564-.4 1.029-.932 1.146-.267.059-.498.224-.641.456-.508.848.162 1.599.777 2.354-1.008.468-2.102.705-3.307.705-1.222 0-2.309-.232-3.312-.701.623-.767 1.295-1.501.779-2.358-.141-.231-.372-.397-.64-.456-.53-.117-.932-.582-.932-1.146zm4.105 11.827c0 2.432 1.249 4.577 3.137 5.832-.854.59-1.904 1.03-3.137 1.168-2.492-.278-4.243-1.788-5.113-3.286-.177-.304-.494-.329-.751-.216l-2.133.952c-.441.196-.962.002-1.162-.433-.2-.435-.004-.947.438-1.144l2.017-.898c.436-.195.719-.611.625-1.217-.088-.571-.577-.882-1.054-.882h-1.989c-.486 0-.878-.386-.878-.863 0-.478.392-.865.878-.865h2.002c.46 0 .941-.294 1.03-.925.068-.483-.232-.902-.645-1.062l-1.86-.723c-.45-.175-.672-.676-.494-1.12.178-.444.689-.663 1.139-.487l1.913.742c.245.095.594.064.784-.365.15-.339.32-.655.501-.954 1.423.831 2.99 1.246 4.752 1.246 1.412 0 2.723-.297 3.933-.848l.04.056c-2.344 1.131-3.973 3.519-3.973 6.292z"/></svg> Bug Report - Sistema de vulnerabilidades</h1>

      <Modal :isActive="store.currentFormModal && $route.path.includes('report')">

        <router-view name="topBar" v-slot="{ Component }" :key="$route.path">
          <transition name="fade" mode="out-in">
           <component class="p-5" :is="Component" :key="$route.path" />
          </transition>
        </router-view>
      </Modal>

      <router-view v-slot="{ Component }">
        <transition name="fade" mode="out-in">
          <component class="p-5" :is="Component" :key="$route.path" />
        </transition>
      </router-view>

  </div>
  <Footer />
</template>

<script>
import { store } from '@/store.js'
import Modal from "@/components/Modal.vue"
import ReportForm from "@/components/ReportForm.vue"
import Footer from "@/components/Footer.vue"

export default {
  name: "App",
  components: {
    Footer,
    Modal,
    ReportForm
  },
  data() {
    return {
      store,
    }
  },
  methods:{


  }
}
</script>
