<template>
<div>
    <div class="flex justify-end">
      <router-link
        class="bg-indigo-500 rounded p-2 px-9 shadow hover:shadow-none hover:bg-indigo-700 text-white m-5 text-md font-semibold"
        :to="'/report/create'">Criar Evidencias</router-link>
    </div>

  <div v-if="filtedItems.length > 0">
    <div class="flex justify-end py-5 items-center inline-block">
      <label for="table-search" class="sr-only">Buscar</label>
      <div class="relative mt-1 flex">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="flex">
          <input type="text" id="table-search" v-model="store.searchQuery"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5"
                 placeholder="Buscar" />
        </div>
      </div>
      <div class="px-5">
        <input class="accent-pink-500" type="checkbox" v-model="store.searchPriority" value="low" /><label class="pl-1 pr-3 text-blue-500">Low</label>
        <input type="checkbox" v-model="store.searchPriority" value="min" /><label class="pl-1 pr-3 text-green-500">Min</label>
        <input type="checkbox" v-model="store.searchPriority" value="high" /><label class="pl-1 pr-3 text-red-500" >High</label>
      </div>
    </div>

    <ul>
      <li>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 table-fixed">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Evidências
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    Título
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    Descrição
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    Grau da evidência
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    Tipo
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    Solução Proposta
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in filtedItems" :key="index"
                  class="bg-white border-b hover:bg-gray-50">
                  <td class="flex text-center px-6 py-4">
<!--                    <div v-if="item.data.photos.length > 0">-->
<!--                      <img height="40" width="40" v-for="(photoUrl, index) in item.data.photos" :key="index" :alt="item.data.title"-->
<!--                           :src="`${photoUrl}`" />-->
<!--                    </div>-->
<!--                    <div v-else>-->
                      <img height="40" width="40" :alt="item.data.title"
                           :src="`${item.data.photos}`" />
<!--                    </div>-->
                  </td>
                  <th scope="row" class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap truncate">
                    {{ item.data.title }}
                  </th>
                  <td class="text-center px-6 py-4 truncate">
                    {{item.data.description}}
                  </td>
                  <td class="text-center px-6 py-4">
                    {{item.data.priority}}
                  </td>
                  <td class="text-center px-6 py-4">
                    {{item.data.type}}
                  </td>
                  <td class="text-center px-6 py-4 truncate">
                    {{item.data.solution}}
                  </td>

                  <td class="px-6 py-4 text-center">
                    <div class="flex justify-around">
                      <router-link :to="'/report/' + item.ref['@ref'].id + '/edit'">
                        <svg class="fill-current text-yellow-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 14.45v6.55h-16v-12h6.743l1.978-2h-10.721v16h20v-10.573l-2 2.023zm1.473-10.615l1.707 1.707-9.281 9.378-2.23.472.512-2.169 9.292-9.388zm-.008-2.835l-11.104 11.216-1.361 5.784 5.898-1.248 11.103-11.218-4.536-4.534z"/></svg>
                      </router-link>
                      <a href="#"
                         @click="currentDeleteModal = item.ref['@ref'].id">
                        <svg  class="fill-current text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/></svg>
                      </a>
                      <Modal :isActive="currentDeleteModal">
                      <div class="modal-content">
                        <h1 class="text-center text-xl font-semibold text-black">Deletar Relatório</h1>
                        <p class="text-center text-black">Tem certeza que deseja deletar o relatório <b class="uppercase">{{ parsedItem.title }}</b> ?</p>
                        <div>
                         <button
                           @click="currentDeleteModal = false"
                            type="button" class="m-5 text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-lg text-sm font-medium px-5 py-2.5">Não, cancelar</button>
                          <button
                            @click="closeDeleteModal(item.ref['@ref'].id)"
                            type="button"
                            class="text-white bg-red-500 hover:bg-red-600 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                              Sim, tenho certeza
                        </button>
                        </div>
                      </div>
                    </Modal>
                    </div>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
      </li>
    </ul>

  </div><p v-else>Nenhum relatório registrado</p>

<Modal :isActive="store.successModal" class="z-10 flex">
  <div class="modal-content flex flex-col">
    <div class="flex flex-around etext-center text-xl font-semibold p-4 inline-flex items-baseline mx-auto">
      <svg class="fill-current text-green-500 mr-5" xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
    <h1 class="">Relatório salvo</h1>
   </div>
      <p class="text-center text-green-500">Operação executada com sucesso!</p>
    <div class="flex justify-center">
    <button @click="store.successModal = false"
        class=" m-5 text-gray-600 font-semibold bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 focus:z-10"
        type="button">Fechar</button>
      </div>
  </div>
</Modal>

</div>
</template>

<script>
import { store } from '@/store.js'
import Modal from "@/components/Modal.vue"

export default {
  name: "Index",

  components: {
    Modal,
  },

  data() {
    return {
      store,
      photosPreview: null
    }
  },


  computed: {
    currentDeleteModal: {
      get() {
        return store.currentDeleteModal
      },
      set(newId) {
        store.currentDeleteModal = newId
      }
    },
    parsedItem() {
      const current = store.items.filter(i => store.currentDeleteModal == i.ref['@ref'].id)
      return Array.isArray(current) ? current[0].data : false
    },

    filtedItems() {
      return store.items.filter(i => i.data.title.includes(store.searchQuery) && store.searchPriority.includes(i.data.priority))
    }
  },

  async beforeRouteEnter (to, from, next) {
    try {
        const response = await store.readAll()
        if (response.requestResult && 200 !== response.requestResult.statusCode) {
          next('/404')
        }else{
          next(vm => vm.store.setItems(response))
        }
    } catch(error) {
      console.log(error)
    }
  },

  methods: {
    async closeDeleteModal() {
      await store.deleteBug(store.currentDeleteModal)
      store.items = store.items.filter(i => i.ref['@ref'].id != store.currentDeleteModal)
      store.currentDeleteModal = false
    },

 }
}
</script>

