<template>
  <div class="text-center">
    <div class="text-xl">404</div>
    <div>Ops!</div>
    <p class="font-bold">Não há nada aqui</p>
    <div class="my-5">
      <router-link to="/"
                   class="before:content-['\21E0'] before:pr-2 bg-indigo-500 rounded p-2 px-9 shadow hover:shadow-none hover:bg-indigo-700 text-white text-md font-semibold">
        Voltar para o site
      </router-link>
    </div>
  </div>
</template>
